<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Panel pracownika</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

      <span style="padding: 10px">
    <div class="panel panel-default">
        <div class="panel-heading">Zarządzanie kierunkami i przedmiotami</div>
        <div class="panel-body" style="text-align: center">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" th:href="@{employerSubjectList.html}">Twoje przedmioty</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" th:href="@{/courseList.html}">Przeglądaj kierunki</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" th:href="@{/subjectList.html}">Przeglądaj przedmioty</a>
                </div>
            </div>
        </div>
    </div>
    </span>

</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>