<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <table class="table">
        <tr>
            <th>Typ Dokumentu</th>
            <th>Status</th>
        </tr>
        <tr th:each="document : ${myDocuments}">
            <td th:text="${document.documentType.nazwa}"></td>
            <td th:if="${document.document_status==0}" th:text="Oczekujący" style="color: orange;"></td>
            <td th:if="${document.document_status==1}" th:text="Zaakceptowany" style="color: green;"></td>
            <td th:if="${document.document_status==2}" th:text="Odrzucony" style="color: red;"></td>
        </tr>
    </table>
</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>